<div class="center well">
    <div class="center">
            <strong class="leftside button clearfix"><a class="well" href="<?php echo $this->baseUrl(); ?>">Uz sākumu!</a></strong>
    </div>
</div>

