<div class="center">
    <h2>Piereģistrējies!</h2>
    <?php echo $this->errorMessage; ?>
    <br />
    <div class="well registerbox" id="registerform" >
        <?php echo $this->form; ?>
    </div>
</div>