<br /><br />sfsfs
<div id="view-content">
    <form name="registerattendance" id="registerattendance" action="../../register" method="POST" enctype="multipart/form-data">
   sdfsdf <?php foreach ($this->children as $children): ?>
           asad <strong>Vārds:</strong> <?php echo $children->name ?> <br />
            <strong>Uzvārds:</strong> <?php echo $children->surname ?> <br /><br />
            <strong>Apmeklējums:</strong> <input type="select" name="attendance" <?php echo 'value="'.$this->userinfo->location.'"' ?> /> <br /><br />
    <?php endforeach; ?>
    </form>
</div>