<br /><br />
<div id="view-content">
    <?php echo $this->errorMessages; ?>
    <?php echo $this->successMessages; ?>
    <?php if (isset($this->class)): ?>
        <table>
            <thead>
            <tr>
                <td>Datums</td>
                <td>Laiks no</td>
                <td>Nosaukums</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->class as $class)
            {
                echo '<tr><td>'.$class->date.'</td>
                    <td>'.$class->time_from.'</td>
                    <td>'.$class->name.'</td>
                    <td><a href="'.$this->url(array('module' => 'class','controller'=>'class','action'=>'edit','id'=>$class->id)).'">Labot nodarbību</a></td></tr>';
            }
            ?>
            </tbody>
        </table>
    <?php endif; ?>
    <?php echo $this->form; ?>
</div>