<div id="view-content">
    <p>Veicamās darbības ar nodarbību datiem</p>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'class','controller'=>'class','action'=>'register'), null, FALSE); ?>">Reģistrēt jaunu nodarbību</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'class','controller'=>'class','action'=>'edit'), null, FALSE); ?>">Labot kādu no reģistrētajām nodarbībām</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'class','controller'=>'class','action'=>'delete'), null, FALSE); ?>">Dzēst kādu no reģistrētajām nodarbībām</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'class','controller'=>'class','action'=>'list'), null, FALSE); ?>">Apskatīt visu reģistrēto nodarbību sarakstu</a>
    </div>
</div>