<div id="view-content">
    <table>
        <thead>
        <tr>
            <td>Datums</td>
            <td>Laiks no</td>
            <td>Nosaukums</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->class as $class)
        {
            echo '<tr><td>'.$class->date.'</td>
                    <td>'.$class->time_from.'</td>
                    <td>'.$class->name.'</td>
                    <td><a href="'.$this->url(array('module' => 'class','controller'=>'class','action'=>'view','id'=>$class->id)).'">Skatīt nodarbību</a></td></tr>';
        }
        ?>
        </tbody>
    </table>
</div>