<br /><br />
<div id="view-content">
    <?php foreach($this->classInfo as $classInfo): ?>
        <div class="profile-info">

            <div class="profile-info">
                Nosaukums: <span class="name"><?php echo $classInfo->name; ?></span><br />
                Datums: <span class="surname"><?php echo $classInfo->date; ?></span><br />
                Laiks no: <span class="time"><?php echo $classInfo->time_from; ?></span><br />
                Laiks līdz: <span class="time"><?php echo $classInfo->time_till; ?></span><br />
                Pasniedzējs: <span class="time"><?php echo $classInfo->firstname; ?> <?php echo $classInfo->lastname;?></span><br />
            </div>
            <div class="profile-controls">
                <a href="<?php echo $this->url(array('module' => 'class','controller'=>'class','action'=>'edit','id'=>$classInfo->id)); ?>">Labot</a>
                <a href="<?php echo $this->url(array('module' => 'class','controller'=>'class','action'=>'delete','id'=>$classInfo->id)); ?>">Dzēst</a>
            </div>
        </div>
    <?php endforeach; ?>
</div>