body
{
}

table {
    border: 1px solid black;
}

td, tr {
    border: 1px solid black;
}

thead {
    font-weight: bold;
}

.page-header
{
}

.created
{
    float:left;
}

.version
{
    float:right;
}

.space
{
    height:300px;
}

.logo
{
    text-transform: uppercase;
    color:blue;
    width:200px;
    padding-bottom: 30px;
}

.log
{
    float:left;
}

.rightside
{
    float: right;
}

.leftside
{
    float: left;
}

.username
{
    color: grey;
    font-style: italic;
    font-size: 16pt;
}

.description
{
    color: grey;
    font-style: italic;
}

.registerbox
{
    width: 600px;
}

.center
{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.button
{
    padding-right:50px;
}
