<?php echo $this->errorMessages; ?>
<?php echo $this->successMessages; ?>
<div id="view-content">
    <?php if (isset($this->group)): ?>
    <table>
        <thead>
        <tr>
            <td>Nosaukums</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->group as $group)
        {
            echo '<tr><td>'.$group->name.'</td>
                    <td><a href="'.$this->url(array('module' => 'structure','controller'=>'group','action'=>'delete','id'=>$group->id)).'">Dzēst grupu</a></td></tr>';
        }
        ?>
        </tbody>
    </table>
    <?php endif; ?>
</div>