<br /><br />
<div id="view-content">
    <?php if (isset($this->group)): ?>
        <table>
            <thead>
            <tr>
                <td>Nosaukums</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->group as $group)
            {
                echo '<tr><td>'.$group->name.'</td>
                    <td><a href="'.$this->url(array('module' => 'structure','controller'=>'group','action'=>'edit','id'=>$group->id)).'">Labot grupu</a></td></tr>';
            }
            ?>
            </tbody>
        </table>
    <?php endif; ?>
    <?php echo $this->errorMessage; ?>
    <?php echo $this->form; ?>
</div>