<div id="view-content">
    <table>
        <thead>
        <tr>
            <td>Nosaukums</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->group as $group)
        {
            echo '<tr><td>'.$group->name.'</td>
                    <td><a href="'.$this->url(array('module' => 'structure','controller'=>'group','action'=>'view','id'=>$group->id)).'">Apskatīt grupas informāciju</a></td></tr>';
        }
        ?>
        </tbody>
    </table>
</div>