<br /><br />
<div id="view-content">
    <?php foreach($this->groupInfo as $groupInfo): ?>
        <div class="profile-info">
            <div class="profile-info">
                Nosaukums: <span class="name"><?php echo $groupInfo->name; ?></span><br />
                Apraksts: <span class="description"><?php echo $groupInfo->description; ?></span><br />
            </div>
            <div class="profile-controls">
                <a href="<?php echo $this->url(array('module' => 'structure','controller'=>'group','action'=>'edit','id'=>$groupInfo->id)); ?>">Labot</a>
                <a href="<?php echo $this->url(array('module' => 'structure','controller'=>'group','action'=>'delete','id'=>$groupInfo->id)); ?>">Dzēst</a>
            </div>
        </div>
    <?php endforeach; ?>
</div>