<br /><br />
<div id="view-content">
    <?php if (isset($this->employee)): ?>
        <table>
            <thead>
            <tr>
                <td>Vārds</td>
                <td>Uzvārds</td>
                <td>Personas kods</td>
                <td>Dzimšanas datums</td>
                <td>Adrese</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->employee as $employee)
            {
                echo '<tr><td>'.$employee->firstname.'</td>
                    <td>'.$employee->lastname.'</td>
                    <td>'.$employee->pers_code.'</td>
                    <td>'.$employee->phone.'</td>
                    <td>'.$employee->address.'</td>
                    <td><a href="'.$this->url(array('module' => 'employee','controller'=>'employee','action'=>'edit','id'=>$employee->userid)).'">Labot</a></td></tr>';
            }
            ?>
            </tbody>
        </table>
    <?php endif; ?>
    <?php echo $this->errorMessage; ?>
    <?php echo $this->form; ?>
</div>