<div id="view-content">
    <p>Veicamās darbības ar darbinieku datiem</p>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'employee','controller'=>'employee','action'=>'register'), null, FALSE); ?>">Reģistrēt jaunu darbinieku</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'employee','controller'=>'employee','action'=>'edit'), null, FALSE); ?>">Labot kādu no reģistrētajiem darbiniekiem</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'employee','controller'=>'employee','action'=>'delete'), null, FALSE); ?>">Dzēst kādu no reģistrētajiem darbiniekiem</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'employee','controller'=>'employee','action'=>'list'), null, FALSE); ?>">Apskatīt visu reģistrēto darbinieku sarakstu</a>
    </div>
</div>