<div id="view-content">
    <table>
        <thead>
        <tr>
            <td>Vārds</td>
            <td>Uzvārds</td>
            <td>Personas kods</td>
            <td>Telefons</td>
            <td>Adrese</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->employee as $employee)
        {
            echo '<tr><td>'.$employee->firstname.'</td>
                    <td>'.$employee->lastname.'</td>
                    <td>'.$employee->pers_code.'</td>
                    <td>'.$employee->phone.'</td>
                    <td>'.$employee->address.'</td>
                    <td><a href="'.$this->url(array('module' => 'employee','controller'=>'employee','action'=>'view','id'=>$employee->userid)).'">Skatīt profilu</a></td></tr>';
        }
        ?>
        </tbody>
    </table>
</div>