<div class="center well white">
    <div class="center">
        <div id="view-content">
            <?php echo $this->errorMessage; ?>
            <?php echo $this->form; ?>
        </div>
    </div>
</div>