<br /><br />
<div id="view-content">
    <?php foreach($this->employeeInfo as $employeeInfo): ?>
        <div class="profile-info">
            <div class="profile-pic">

            </div>
            <div class="profile-info">
                Vārds: <span class="name"><?php echo $employeeInfo->firstname; ?></span><br />
                Uzvārds: <span class="surname"><?php echo $employeeInfo->lastname; ?></span><br />
                Personas kods: <span class="pers-code"><?php echo $employeeInfo->pers_code; ?></span><br />
                Adrese: <span class="adress"><?php echo $employeeInfo->address; ?></span><br />
                E-pasts: <span class="email"><?php echo $employeeInfo->email; ?></span><br />
                Telefons: +371 <span class="phone"><?php echo $employeeInfo->phone; ?></span><br />
            </div>
            <div class="profile-controls">
                <a href="<?php echo $this->url(array('module' => 'employee','controller'=>'employee','action'=>'edit','id'=>$childInfo->id)); ?>">Labot</a>
                <a href="<?php echo $this->url(array('module' => 'employee','controller'=>'employee','action'=>'delete','id'=>$childInfo->id)); ?>">Dzēst</a>
            </div>
        </div>
    <?php endforeach; ?>
</div>