<div class="center well white">
    <div class="center">
        <?php
        if(!Zend_Auth::getInstance()->hasIdentity()): ?>
            <h1>Bērnudārza uzskaites un vadības sistēma</h1>
            <br />
            <p>
                Lai izmantotu sitēmu, tev vai nu jāpiesakās, vai jāpiereģistrējas:
            </p>
            <br />
            <p>
                <strong class="leftside button"><a class="well" href="<?php echo $this->url(array('module' => 'authorize','controller'=>'authorize','action'=>'login'), null, FALSE); ?>">Pieteikties</a></strong>
                <strong class="leftside button"><a class="well" href="<?php echo $this->url(array('module' => 'authorize','controller'=>'authorize','action'=>'register'), null, FALSE); ?>">Reģistrēties</a></strong>
            </p>
        <?php else: ?>
            Lai darbotos ar sistēmu, izvēlies kādu no iespējām augšējā izvēlnē!
        <?php endif; ?>
    </div>
    <br /><br />
</div>