<?php
/*
 * View for individual user profile
 */
?>
<div id="view-content">
    <?php foreach($this->userInfo as $profile): ?>
        <div class="profile-pic" >

        </div>
        <div class="user-info">
            <span class="name"><?php echo $profile->firstname; ?></span>
            <span class="surname"><?php echo $profile->lastname; ?></span>
            <!-- Pārējais info -->
            <button class="btn delete">Dzēst profilu</button>
            <button class="btn edit-profile">Labot profilu</button>
        </div>
    <?php endforeach; ?>
</div>