<?php
$this->headMeta()->appendHttpEquiv('Content-Type','text/html;charset=utf-8');
$this->headTitle()->setSeparator(' - ');
$this->headTitle('Kinder garten sollutions');
echo $this->doctype();
?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headTitle(); ?>

        <?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/reset.css');?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/style.css');?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl().'/bootstrap/css/bootstrap.css');?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript()->appendFile($this->baseUrl().'/js/jquery.js'); ?>
        <?php echo $this->jQuery()->enable(); ?>
    </head>

    <body>
    <?php /*echo Zend_Date::now()->toString('yyyy-MM-dd HH:mm:ss');;*/ ?>
    <div class="center well">
        <div class="page-header clearfix">
            <br />
            <div class="logo"><a href="<?php echo $this->baseUrl(); ?>">Bērnudārza administrācijas un uzkaites sistēma</a></div>
            <div class="log clearfix">


            <?php if(Zend_Auth::getInstance()->hasIdentity()): ?>
                <?php echo $this->navigation()->menu(); ?>
                <?php /*echo $this->navigation()->menu()->renderMenu(Zend_Registry::get('class'));*/ ?>
                <p>Sveicināts!</p><a href="<?php echo $this->url(array('module' => 'authorize','controller'=>'authorize','action'=>'logout'), null, FALSE); ?>"><?php echo ('Atteikties'); ?></a>
            <?php endif; ?>
        </div>
            <div id="header-navigation" >
            </div>
        </div>

    <?php echo $this->layout()->content; ?>
        <hr />
        <div class="footer">
            <span class="created">Autors: Maija Ķemere</span>
            <span class="version">Versija: 1.0.0</span>
        </div>
</div>


    </body>

</html>
