<div id="view-content">
    <p>Veicamās darbības ar bērnu datiem</p>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'structure','controller'=>'structure','action'=>'register'), null, FALSE); ?>">Reģistrēt jaunu struktūras vienību</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'structure','controller'=>'structure','action'=>'edit'), null, FALSE); ?>">Labot kādu no reģistrētajām struktūras vienībām</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'structure','controller'=>'structure','action'=>'delete'), null, FALSE); ?>">Dzēst kādu no reģistrētajām struktūras vienībām</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'structure','controller'=>'structure','action'=>'list'), null, FALSE); ?>">Apskatīt visu reģistrēto struktūru sarakstus</a>
    </div>
</div>