<br /><br />
<?php echo $this->errorMessages; ?>
<?php echo $this->successMessages; ?>
<div id="view-content">
    <?php if (isset($this->child)): ?>
    <table>
        <thead>
        <tr>
            <td>Vārds</td>
            <td>Uzvārds</td>
            <td>Personas kods</td>
            <td>Dzimšanas datums</td>
            <td>Adrese</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->child as $child)
        {
            echo '<tr><td>'.$child->name.'</td>
                    <td>'.$child->surname.'</td>
                    <td>'.$child->pers_code.'</td>
                    <td>'.$child->birth_date.'</td>
                    <td>'.$child->adress.'</td>
                    <td><a href="'.$this->url(array('module' => 'children','controller'=>'children','action'=>'edit','id'=>$child->id)).'">Labot</a></td></tr>';
        }
        ?>
        </tbody>
    </table>
    <?php endif; ?>
    <?php echo $this->form; ?>
</div>