<div id="view-content">
    <?php echo $this->errorMessages; ?>
    <?php echo $this->successMessages; ?>
    <p>Veicamās darbības ar bērnu datiem</p>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'children','controller'=>'children','action'=>'register'), null, FALSE); ?>">Reģistrēt jaunu bērnu</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'children','controller'=>'children','action'=>'edit'), null, FALSE); ?>">Labot kādu no reģistrētajiem bērniem</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'children','controller'=>'children','action'=>'delete'), null, FALSE); ?>">Dzēst kādu no reģistrētajiem bērniem</a>
    </div>
    <div class="user-action">
        <a href="<?php echo $this->url(array('module' => 'children','controller'=>'children','action'=>'list'), null, FALSE); ?>">Apskatīt visu reģistrēto bērnu sarakstu</a>
    </div>
</div>