<div id="view-content">
    <?php echo $this->errorMessages; ?>
    <?php echo $this->successMessages; ?>
    <table>
        <thead>
            <tr>
                <td>Vārds</td>
                <td>Uzvārds</td>
                <td>Personas kods</td>
                <td>Dzimšanas datums</td>
                <td>Adrese</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->child as $child)
            {
                echo '<tr><td>'.$child->name.'</td>
                    <td>'.$child->surname.'</td>
                    <td>'.$child->pers_code.'</td>
                    <td>'.$child->birth_date.'</td>
                    <td>'.$child->adress.'</td>
                    <td><a href="'.$this->url(array('module' => 'children','controller'=>'children','action'=>'view','id'=>$child->id)).'">Skatīt profilu</a></td></tr>';
            }
            ?>
        </tbody>
    </table>
</div>