<br /><br />
<div id="view-content">
    <?php echo $this->errorMessages; ?>
    <?php echo $this->successMessages; ?>
    <?php foreach($this->childInfo as $childInfo): ?>
    <div class="profile-info">
        <div class="profile-pic">

        </div>
        <div class="profile-info">
            Vārds: <span class="name"><?php echo $childInfo->name; ?></span><br />
            Uzvārds: <span class="surname"><?php echo $childInfo->surname; ?></span><br />
            <?php if($childInfo->gender==0): ?>
                Dzimums: <span class="gender">Vīrietis</span><br />
            <?php else: ?>
                Dzimums: <span class="gender">Sieviete</span><br />
            <?php endif; ?>
            Personas kods: <span class="pers-code"><?php echo $childInfo->pers_code; ?></span><br />
            Dzimšanas datums: <span class="birthday"><?php echo $childInfo->birth_date; ?></span><br />
            Adrese: <span class="adress"><?php echo $childInfo->adress; ?></span><br />
        </div>
        <div class="profile-controls">
            <a href="<?php echo $this->url(array('module' => 'children','controller'=>'children','action'=>'edit','id'=>$childInfo->id)); ?>">Labot</a>
            <a href="<?php echo $this->url(array('module' => 'children','controller'=>'children','action'=>'delete','id'=>$childInfo->id)); ?>">Dzēst</a>
        </div>
    </div>
    <?php endforeach; ?>
</div>