<div id="view-content">
	<p>View script for controller <b>Child</b> and script/action name <b>index</b></p>

    <?php foreach ($this->childs as $child)
    {
        echo $child->name;
    }
    ?>
</div>